body{background-color: #eee;}
.navbar{
    border-radius: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
}
.navbar-brand{
    font-family: 'Baloo Da', cursive;
    font-size: 1.5em;
    font-weight: 700;
}
.thumb{
    display: inline-block;
    margin: .5em .1em;
}
.del{text-align: center;}